@model SimpleAuth.ViewModels.Movies.MovieIndexVm

<!--/main-header-->
<!--/banner-section-->
<div id="demo-1"
    data-zs-src='["/Assets/images/2.jpg", "/Assets/images/1.jpg", "/Assets/images/3.jpg","/Assets/images/4.jpg"]'
    data-zs-overlay="dots">
    <div class="demo-inner-content">
        <!--/header-w3l-->
        <div class="header-w3-agileits" id="home">
            <div class="inner-header-agile">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @* <h1><a href="/PublicInterface/Index"><span>M</span>ovies <span>P</span>ro</a></h1> *@
                    </div>


            </div>

        </div>
        <!--//header-w3l-->
        <!--/banner-info-->
        <div class="baner-info">
            <h3>COMI<span>NG </span>SOON <span>Mo</span>vies</h3>
            <h4>In space no one can hear you scream.</h4>
            <a class="w3_play_icon1" href="#small-dialog1">
                Watch Trailer
            </a>
        </div>
        <!--/banner-ingo-->
    </div>
</div>
<!--/banner-section-->
<!--//main-header-->

<!--/content-inner-section-->
<div class="w3_content_agilleinfo_inner">
    <div class="agile_featured_movies">
        @* <div class="inner-agile-w3l-part-head">
        <h3 class="w3l-inner-h-title">Movie List</h3>
        <p class="w3ls_head_para">Add short Description</p>
        </div> *@
        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
            <!--/requested-movies-->
            <hr style="border: 2px solid red;">
            <h3 class="agile_w3_title">Coming Soon<span>Movies</span> </h3>
            <div class="wthree_agile-requested-movies">
                @{
                    foreach (var reqMovies in Model.Movies)
                    {
                        if (@reqMovies.MovieStatus == SimpleAuth.Constants.MovieStatusConstants.ComingSoon)
                        {
                            <div class="col-md-2 w3l-movie-gride-agile requested-movies">
                                <a asp-controller="MovieShow" asp-action="Index" asp-route-id="@reqMovies.Id"
                                    class="hvr-sweep-to-bottom"><img src="/Uploads/Poster/@reqMovies.Poster" title="Movies Pro"
                                        class="img-responsive" alt=" ">
                                    <div class="w3l-action-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
                                </a>
                                <div class="mid-1 agileits_w3layouts_mid_1_home">
                                    <div class="w3l-movie-text">
                                        <h6><a asp-controller="MovieShow" asp-action="Index" asp-route-id="@reqMovies.Id">
                                                @reqMovies.Title</a></h6>
                                    </div>
                                    <div class="mid-2 agile_mid_2_home">
                                        <p>@reqMovies.ReleasedDate.ToString("MM/dd/yyyy")</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                @* <div class="ribben one">
                    <p>NEW</p>
                    </div> *@
                                <div class="clearfix"></div>
                            </div>
                        }
                    }
                }

                <div class="clearfix"></div>
            </div>
            <!--//requested-movies-->
        </div>
    </div>



    @* <div class="w3agile_footer_copy">
    <p>© 2023 Movies Pro. All rights reserved | Design by <a href="http://w3layouts.com/">BCA VI</a></p>
    </div> *@
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;">
        </span></a>

    <script src="/Assets/js/jquery-1.11.1.min.js"></script>
    <!-- Dropdown-Menu-JavaScript -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //Dropdown-Menu-JavaScript -->
    <!-- search-jQuery -->
    <script src="/Assets/js/main.js"></script>

    <script src="/Assets/js/simplePlayer.js"></script>
    <script>
        $("document").ready(function () {
            $("#video").simplePlayer();
        });
    </script>
    <script>
        $("document").ready(function () {
            $("#video1").simplePlayer();
        });
    </script>
    <script>
        $("document").ready(function () {
            $("#video2").simplePlayer();
        });
    </script>
    <script>
        $("document").ready(function () {
            $("#video3").simplePlayer();
        });
    </script>
    <script>
        $("document").ready(function () {
            $("#video4").simplePlayer();
        });
    </script>
    <script>
        $("document").ready(function () {
            $("#video5").simplePlayer();
        });
    </script>
    <script>
        $("document").ready(function () {
            $("#video6").simplePlayer();
        });
    </script>

    <!-- pop-up-box -->
    <script src="/Assets/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <!--//pop-up-box -->

    <div id="small-dialog1" class="mfp-hide">
        <iframe src="https://player.vimeo.com/video/165197924?color=ffffff&title=0&byline=0&portrait=0"></iframe>
    </div>
    <div id="small-dialog2" class="mfp-hide">
        <iframe src="https://player.vimeo.com/video/165197924?color=ffffff&title=0&byline=0&portrait=0"></iframe>
    </div>
    <script>
        $(document).ready(function () {
            $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <script src="/Assets/js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion           
                width: 'auto', //auto or any width like 600px
                fit: true,   // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!-- tables -->
    <script type="text/javascript" src="/Assets/js/jquery.basictable.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').basictable();

            $('#table-breakpoint').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint1').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint2').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint3').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint4').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint5').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint6').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint7').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint8').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint9').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint10').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint11').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint12').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint13').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint14').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint15').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint16').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint17').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint18').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint19').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint20').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint21').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint22').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint23').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint24').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint25').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint26').basictable({
                breakpoint: 768
            });
        });
    </script>
    <!-- //tables -->


    <!--/script-->
    <script type="text/javascript" src="/Assets/js/move-top.js"></script>
    <script type="text/javascript" src="/Assets/js/easing.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            /*
            var defaults = {
                    containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!--end-smooth-scrolling-->
    <script src="/Assets/js/bootstrap.js"></script>
