@model SimpleAuth.ViewModels.Movies.MovieIndexVm

<div class="container-fluid mt-2">
    <div class="card shadow-lg">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-title ">List of Movies</h4>

                <a href="/AdminPanel/Movie/Add" class="btn btn-success  "><span class="bi bi-file-plus"></span> Add
                    Movie</a>
            </div>
        </div>


        <div class="card-body">
            <div style="border-top: 4px solid;" class="mb-2 border-success">
            </div>
            <div class="row mb-2">
                <form action="" class="d-flex align-items-center">
                    <input class="form-control me-sm-2" type="search" asp-for="Search" placeholder="Search"
                        autocomplete="off">
                    <select asp-for="SearchStatus" class="form-control" asp-items="@Model.SearchStatusSelectList()">
                        <option value="">-- SELECT A MOVIE STATUS --</option>
                    </select>
                    <select asp-for="SearchGenreId" class="form-control" asp-items="@Model.SearchGenreSelectList()">
                        <option value="">-- SELECT A GENRE --</option>
                    </select>
                    <input class="form-control me-sm-2" type="Date" asp-for="SearchReleasedDate"
                        placeholder="Released Date" autocomplete="off">
                    <button class="btn btn-success"><i class="bi bi-search"></i></button>

                </form>
            </div>

            <div class="table-responsive">
                <table class="table table-hover table-sm border-1 table-striped">
                    <thead class="table-success">
                        <tr>
                            <th scope="col" width="40px">SN</th>
                            <th scope="col">Title</th>
                            <th scope="col">Released On</th>
                            <th scope="col">Language</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Director</th>
                            <th scope="col">Cast</th>
                            @* <th scope="col">Description</th> *@
                            <th scope="col">Status</th>
                            @* <th scope="col">Poster</th> *@
                            @* <th scope="col">Trailer</th> *@
                            @* <th scope="col">Date Modified</th> *@
                            <th scope="col" class="text-end"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-light">
                            @{
                                var sn = 1;
                                foreach (var movie in Model.Movies)
                                {
                                <tr class="table-light">
                                    <th scope="row">
                                            @(sn++)
                                    </th>
                                    <td style="text-align: center;
                                                            display:flex; justify-content:start;
                                                            align-items: center; flex-direction: column"><img style="height: 8vh;
                                                                                      width: 2vw;" class="w-50"
                                            alt="description" src="/Uploads/Poster/@movie.Poster" />@movie.Title

                                    </td>
                                    <td>
                                            @movie.ReleasedDate.ToString("MM/dd/yyyy")

                                    </td>
                                    <td>
                                            @movie.Languages.Name
                                    </td>
                                    <td>
                                            @movie.Genres.Name
                                    </td>
                                    <td>
                                            @movie.Director
                                    </td>
                                    <td>
                                            @movie.Cast
                                    </td>
                                        @* <td>
                            @movie.Description
                            </td> *@
                                    <td>
                                            @movie.MovieStatus
                                    </td>
                                        @* <button class="imgButton"
                            style="background-image: url( '/Uploads/Poster/@movie.Poster' ); border: 2px solid red;
                            transform: rotate(180deg);">
                            </button> *@
                                        @* <td>
                            <img src="/Uploads/Trailer/@movie.Trailer" />
                            </td> *@
                                        @* <td>
                            @movie.DateModified
                            </td> *@
                                    <td class="text-end">
                                        <a asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-primary btn-sm"><i
                                                class="bi bi-pencil-square"></i>
                                            Edit
                                        </a>
                                        <form asp-action="Delete" asp-route-id="@movie.Id" class="d-inline">
                                            <button type="submit" class="btn btn-danger btn-sm"
                                                onclick="return confirm('Do you really want to delete?')"><i
                                                    class="bi bi-trash"></i> Delete</button>
                                        </form>

                                    </td>
                                </tr>
                                }
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>